* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
  width: 100%;
  background-image: url(/base/img/banner.png); 
  background-repeat: no-repeat;
  background-size: cover;  
  background-position: center; 
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1{
  padding-top: 30px;
}

.container1{
  display: flex;
  flex-direction: inline;
  justify-content: center;
}

.icon{
  width: 30px;
  margin: 40px;
}

#secao-esquerda {
  width: 50%;
  background-color: rgb(27, 38, 55);
}

hr {
  height: 6px;
  background-color: white;
  width: 95%;
  margin: auto;
}

#section-help, #section-about {
  width: 100%;
  max-height: 630px;
  padding: 20px 20px 20px ;
  color: white;
  position: relative;

  .btn-more-help, .btn-more-about {
    position: absolute;
    top: 80%;
    right: 5%;
    background-color: white;
    color: black;
    padding: 4px 8px;
    text-decoration: none;
    border-radius: 4px;
    
  }
    
  .icon-help{
    position: absolute;
    top: 50px;
    right: 1%;
  }

  .icon-about  {
    position: absolute;
    top: 50px;
    right: 1%;
    width: 40px;
  }
  
  .titulo-help, .titulo-about {
    float: left;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 10px;
  }
    
  .text-help, .text-about {
    clear: both;
    width: 575px;
    height: 152px;
    text-align: justify;
  }
}


.obrigatorio  {
    color: red;
}
.container {
    background-color:  #1E2836;
     width: 630px;
    text-align: center;
   

}
.container__titulo {
    color: white;
}
.container__cadastro{
  
}
 
.botao{
    background-color: #1E2836;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    
}
